extends layout

block content
    h1 Jobs
    if jobs.length
        p Here are the jobs:
        table
            thead
                td _ID
                td Title
                td Description
                td Zipcode
                td Category
                td Job Type
                td Tips
            each job in jobs
                tr
                    td #{job._id}
                    td #{job.title}
                    td #{job.description}
                    td #{job.zipcode}
                    td #{job.category}
                    td #{job.jobType}
                    td #{job.tips}

        pre= JSON.stringify(people, null, 2)
    else
        p There's no one yet :(
    script.
        console.log(!{JSON.stringify(jobs)})