extends layout

block content
    h1 Employers
    if employers.length
        p Here are the employers:
        table
            thead
                td _ID
                td Email
                td Jobs
                td Inbox
            each employer in employers
                tr
                    td #{employer._id}
                    td #{employer.email}
                    td #{employer.jobs}
                    td #{employer.inbox}

        pre= JSON.stringify(employers, null, 2)
    else
        p There's no one yet :(
    script.
        console.log(!{JSON.stringify(employers)})